.bottom-right-fix {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
}

.right-sidebar-fix {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100;
  background-color: green;
  color: white;
}

.complete-page-fix {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  color: white;
}